
.upg{
    overflow: hidden;
width:76%;
margin-top:3%;
display: flex;
flex-direction:row;
align-items:center;
justify-content:center;
left:50%;
transform:translate(-50%);
position:relative;
height:320px;
}

.upx{
height:320px;
margin-right:6rem;
width:35%;
overflow: hidden;
}


.headingc{
    width:100%;
 height:50px;
 background:rgba(255,196,105,0.8);
 text-align:center;
 padding-top:10px;
}

.upx .headingc p{
font-size:25px;
font-weight:bold;
color:rgba(120,120,120,1);
text-transform:uppercase;
letter-spacing: 0.5px;
word-spacing: 0.5px;
cursor:pointer;
}

.upx #csp .contentx{
    margin:9px;
    padding:9px;
    width:76%;
    line-height:21px;
    background:rgba(256,256,256,0.3);
   color:rgba(90,90,90,1);
   cursor:pointer;
}


.upx #csp{
    position:fixed;
}




.mySlide{
    width:65%;
    height:320px;
    background:white;
}
