
.upg{
  margin:0 auto;
overflow: hidden;
width:76%;
margin-top:7%;
display: flex;
flex-direction:row;
align-items:center;
justify-content:center;
height:320px;
}

.upx{
height:320px;
margin-right:6rem;
width:35%;
overflow: hidden;
border:1px solid rgba(210,210,210,1);
}


.headingc,.respo_head{
  width:100%;
 height:50px;
 background:rgba(255,196,105,0.6);
 text-align:center;
 padding-top:10px;
 box-shadow:0 0 2px 2px rgba(210,210,210,1);
}
.upx .headingc
{
  border-radius:1px;
}

.upx .headingc p,  .respo_head p{
font-size:25px;
font-weight:bold;
color:rgba(70,70,70,1);
text-transform:uppercase;
letter-spacing: 0.5px;
word-spacing: 0.5px;
cursor:pointer;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upx #csp .contentx{
    margin:2px 9px 9px 7px;
    padding:5px 4px 2px 8px;
    width:63%;
    line-height:24px;
    color:rgba(90,90,90,1);
    cursor:pointer;
    font-size:15px;
}

.upx #csp{
    position:fixed;  
    overflow: hidden;
}

.mySlide{
    width:65%;
    height:320px;
    border:1px solid rgba(120,120,120,0.4);
}

.slidex{
  overflow: hidden;
  width:100%;
  height:100%;
}

.mySlide .slidex  #caption{
  background:	rgba(255,215,0,0.6);
  clip-path: polygon(0 0, 15% 0, 32% 100%, 0% 100%);
  z-index:1;
  font-size:20px;
  width:100%;
  bottom:0;
 position:absolute;
 display:inline-block;
 height:100%;
transform-origin: left;
transform:scaleX(0);
overflow:hidden;
}

.mySlide .slidex  #caption img{
 width:85px; 
 height:85px; 
 top:7rem;
 left:4rem;
 position:relative;
}

.mySlide .slidex  #caption p{
  font-size:19PX;
  font-weight:bold;
  color:black;
  top:38%;
  left:3%;
  translate:transform(-2%,-38%);
  position:relative;
}

.mySlide .slidex  #captionx{
  background:rgba(0,0,0,1);
  z-index:2;
  font-size:20px;
  width:100%;
  bottom:0;
 position:absolute;
 height:40px;
color:white;
clip-path: polygon(0 0, 15% 0, 20% 100%, 0% 100%);
}

.mySlide .slidex  #captionx p{
  top:9px;
  left:28px;
  position:relative;
}


.mySlide .slidex .slide{
width:100%;
height:100%;
position:relative;
}

.blinker{
    animation: blinker 1.5s linear infinite;
    font-size:13px;
   background: -webkit-linear-gradient(45deg,rgba(256,0,0,0.6),rgba(0,256,0,0.6),yellow);
    padding:2px 10px 2px 10px;
    width: 160px;
    height:130px;
    border-radius: 50%;
    font-style: italic;
    color:rgba(0,0,0,1);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.4px;
    }
    @keyframes blinker {

    0%{
  opacity:0.5;

    }

    50%{
      opacity:0.6;

    }

   100%{
      opacity:1;
  
    }
    }

 /*============ Mobile version of updates =============*/
.respo_not{
  height:340px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:90%;
  left:50%;
  transform: translate(-50%);
  position: relative;
  display: none;
  overflow: hidden;
  border:1px solid rgba(210,210,210,1);
  margin-bottom:3rem;
}

#respo_csp
{
overflow: hidden;
position: fixed;
}

.respo_head{
  padding-top:13px;
  padding-bottom:38px;
  margin-bottom:1px;
  box-shadow:0 0 2px 1px rgba(210,210,210,0.5);
}

#respo_csp .respo_cont{
  line-height:21px;
 color:rgba(90,90,90,1);
 cursor:pointer;
 margin-top:8px;
 padding:8px 0 8px 20px;
 font-size:15px;
}



    /*============ Responsive Sreen =============*/

    @media (max-width:721px)
    {
      .upg{
      width:100%;
      flex-direction:column;
       }
       
      .upx{
        display:none;
      }

       .mySlide{
        width:90%;
       margin-top:3rem;
       position:relative;
      }

      .mySlide .slidex  #caption{

        -webkit-clip-path: polygon(0 0, 37% 0, 74% 100%, 0% 100%);
        clip-path: polygon(0 0, 37% 0, 74% 100%, 0% 100%);
        
      }


      .mySlide .slidex  #captionx{

        -webkit-clip-path: polygon(0 0, 41% 0, 53% 100%, 0% 100%);
        clip-path: polygon(0 0, 41% 0, 53% 100%, 0% 100%);        
        height:3rem;
        padding-bottom:4.2rem;
           }

      .mySlide .slidex  #caption img{
        left:3rem;
       }
       .mySlide .slidex  #captionx p{
       left:15px;
       margin-top:5px;
      }

.respo_not{
  display:block;
  overflow: hidden;
  margin-left:3px;
  margin-top:5rem
}

#respo_csp{
  overflow: hidden;
}

#respo_csp .respo_cont{
  padding-right:0.9rem;
}
.respo_head{
  margin-bottom: 3px;
}

  }