*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    outline:none;
    box-sizing: border-box;
}

.progress-container{
    top:0;
    position:fixed;
}

body{
    background: rgba(250,250,250,1);
}

#loader{
    width:100%;
    height:100vh;
    background:#DfDfDf url('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:18rem;
    position: fixed;
    z-index:555;
}

.banner{
    width:100%;
    height:400px;
    background:
    url(man.jpg)
    100% 100% no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.banner .overlay{
    width:100%;
    height:100%;
    opacity:0.4;
    background:black;
}

.banner .center{
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
    position:absolute;
    width:100%;
    color:rgba(240,240,240,1);
    font-weight:bold;
    font-size:50px;
    text-transform: uppercase;
}

.banner .center p{
    text-align:center; 
   
}

.banner .center .sub-center{
   font-size:31px;
}

footer{
    margin-top:20rem;
    width:100%;
    bottom:0;
    position:-webkit-sticky;
}

body .ping{
    top:80%;
    left:70%;
transform:translate(-70%,-80%);
position:absolute;
width:100%;
}
.ping p{
    text-align: center;
    text-transform:uppercase;
    font-weight:bold;
    font-size:40px;
    color: rgba(80,80,80,1);
}