*{
    margin:0;
    padding:0;
    outline:none;
   font-family: sans-serif;
}
body{
    background: rgba(250,250,250,1);
}

body .mainx{
    height:100%; 
}


/*================  Page Preloader  =================*/ 

#loader{
    top:0;
    width:100%;
    height:100vh;
    background:rgb(252,252,252) 
    url('loaderx.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:4rem;
    position: fixed;
    z-index:555;
} 



body .mainx .edit-news{
    margin-top:3rem;
    left:100%;
    transform:translate(-100%);
    position: relative;
    width:90%;
    margin-bottom:2rem;
}
table,th,td
{
    border:1px solid #050505;
    padding:10px;
    color:#050505;
    line-height:26px;
    font-size:15px;
    letter-spacing:0.3px;
}

table
{
    height:100%;
    border-collapse:collapse;
    width:90%;
   
}
.thead
{
    text-align:unset;
}

td
{
    text-align:justify;
}


.imgx{
    width:130px;
    height:130px;
    cursor:pointer;
}

.edit-news a{
    text-decoration:none;
    color:white;
    background:#4CAF50;
    padding:0.5rem 0.7rem 0.5rem 0.7rem;
}
.edit-news a:hover{
    color:red;
    transition:0.3s;
}
.edit-news button{
    border:none;
    color:white;
    background:#4CAF50;
    padding:0.6rem;
    cursor:pointer;
}

.edit-news button:hover{
color:red;
transition:0.3s;
}

html{
    scroll-behavior: smooth;
}