*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    outline:none;
    box-sizing: border-box;
    }
  
    .progress-container{
      top:0;
      position:fixed;
  }
  
    body{
      background: rgb(240,240,240,1);
  }
  

  #loader{
    top:0;
    width:100%;
    height:100vh;
    background:rgb(252,252,252) 
    url('loaderx.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:4rem;
    position: fixed;
    z-index:555;
  } 
  
  .wrapper{
    width:75%;
    margin:0 auto;
  }

.wrapper .container 
{
  margin-top:13rem;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-evenly;
  background: transparent;
}

.card{
  width:190px;
  height:230px;
  background:#282828;
  cursor:pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 3px rgb(100, 100, 97);
}

.card .img-container{
  width:190px;
  height:130px;
  overflow: hidden;
}

.img-container img{
    width:190px;
    height:160px;
    
}


.card .heading 
{
  overflow: hidden;
    height:2.8rem;
    padding-top:12px;
    padding-left:8px;
    border-bottom:1px solid rgb(177, 170, 170);
}

.heading p{
    color:rgb(223, 210, 210);
    font-size:15px;
}

.card button{
    background: rgb(40, 40, 189);
    color:white;
    cursor: pointer;
    font-weight: bold;
    height:35px;
    width:100px;
    border: none;
    align-self: center;
    border-radius: 18px;
    margin-top:10px;
}
button .f{
font-weight: bold;
font-size: 18px;
}

button .share{
    font-size:15px;
}



.copyright
{
  bottom:2.5rem;
  right:25%;
  left:50%;
  margin-left:-150px;
  position: absolute;
 word-wrap: break-word;
 font-weight:bold;
 font-size:15px;
}

@media (max-width:921px)
{
  .wrapper .container 
{
  margin-top:7rem;
  flex-direction: column;
  margin-bottom: 5rem;
}

.card:nth-child(1), .card:nth-child(2){
  margin-bottom:2rem;
}

.copyright{
    display: none;
}

}