   
/*================  Fooetr Section Common to all  =================*/ 
    	
.datay{
	background:rgba(0,0,0,0.9);
	width:100%; 
  display:flex;
  flex-direction: row;
	align-items: center;
	justify-content: center;
}
.datay div{
   flex-basis: 12rem;
 margin:1.5rem;
 height:auto;
 color:white;
}

.datay div a{
text-decoration: none;
color:rgba(256,256,256,0.7);
	 }

	 .datay div a:hover
	 {
		color:rgba(256,256,256,1);
	 }
	

.datay div p{
line-height:1.9rem;
padding-left:10px;
font-size:14.2px;
letter-spacing: 0.7px;
 }

 .datay div .y{
	 letter-spacing: 0.8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color:rgba(256,256,256,0.7);
 }

 .datay div .linex{
	 width:3rem;
	 height:3px;
	 background:rgba(255,165,0,0.55);
	 margin:0;
	margin-left:0.6rem;
 }

 .datad{
  width:100%;
  background: rgba(0,0,0,0.8);
  box-shadow:1px 0 1px 0 rgba(0,0,0,0.6);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  }

.datad p
 {
  text-align:center;
  color:rgba(256,256,256,0.7);
  font-size:16px;
  font-weight: normal;
  letter-spacing:0.7px;
  }
   .datad .x
   {
  letter-spacing: 0;
    margin-bottom:12px;
  font-size: 24px;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  }

.container
{
background:rgba(0,0,0,0.9);
width:100%;
padding-top:1.6rem;
padding-bottom:1.6rem;
}

.container .copyright{
  font-size:12.3px;
   letter-spacing:0.8px;
  font-weight:bold;
  color:rgba(256,256,256,0.7);
  text-align:center;
  text-transform: uppercase;
}

#and_copy{
line-height:24px;
 display: none;
}

/*================  Fooeter Section  =================*/ 

footer{
	margin-top:3%;
}

 

/*scroll Indicator*/
 .progress-container { 
   width: 100%;
   height: 6px;
   background:rgba(80,80,80,0.1);
   z-index: 3;
   position: fixed;
 }
 
 .progress-container .progress-bar {
   height: 6px;
   background:  #4caf50;
   width:0%;
 }

 /*================= Custom Scroll Bar =================*/
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(168, 166, 166); 
  }
  

  
  #respo_contact{
    display:none;
    line-height:24px;
  }

/*================  Smooth Scrolling Property  =================*/ 

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/*================  Mobile version responsive  =================*/ 

@media (max-width:721px)
{
.datay {
 flex-direction:column;
}
.datay div{
text-align:center;
margin-bottom: 0;
padding-bottom:0;
height:100px;
 }
 .datay div p{
padding:0;
line-height:1.8rem;
   }

 .datay div .linex{
  left:60%;
  transform: translate(-60%);
  position:relative;
  margin:0;
   }

   .datay div #lx{
    width:65px;
   
     }

   .datay div #ly{
    width:42px;
    margin-left:-3px;
     }

     .datay div #lz{
      width:43px;
      margin-left:-3px;
       }

       
     .datay div #la{
      width:38px;
      margin-left:-7px;
       }

#developer{
  display:none;
}

#and_copy{
  display: block;
}

.datad .x{
  font-size:19px;
}

#cont{
  display: none;
}

#respo_contact{
  display: block;
}

}