      	
.datay{
	background:rgba(0,0,0,0.9);
	width:100%; 
  display:flex;
  flex-direction: row;
	align-items: center;
	justify-content: center;
}
.datay div{
   flex-basis: 12rem;
 margin:1.5rem;
 height:auto;
 color:white;
}

.datay div a{
text-decoration: none;
color:rgba(256,256,256,0.7);
	 }

	 .datay div a:hover
	 {
		color:rgba(256,256,256,1);
	 }
	

.datay div p{
line-height:1.9rem;
padding-left:10px;
font-size:14.2px;
letter-spacing: 0.7px;
 }

 .datay div .y{
	 letter-spacing: 0.8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color:rgba(256,256,256,0.7);
 }

 .datay div .linex{
	 width:3rem;
	 height:3px;
	 background:rgba(255,165,0,0.55);
	 margin:0;
	margin-left:0.6rem;
 }

 .datad{
  width:100%;
  background: rgba(15,15,15,1);
  box-shadow:1px 0 1px 0 rgba(0,0,0,0.6);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  }

.datad p
 {
  text-align:center;
  color:rgba(256,256,256,0.7);
  font-size:15px;
  font-weight: normal;
  letter-spacing:0.7px;
  }
   .datad .x
   {
  letter-spacing: 0;
    margin-bottom:12px;
  font-size: 24px;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  }

.container
{
background:rgba(0,0,0,1);
width:100%;
padding-top:1.6rem;
padding-bottom:1.1rem;
}

.container .copyright{
  font-size:12.3px;
   letter-spacing:0.8px;
  font-weight:bold;
  color:rgba(256,256,256,0.7);
  text-align:center;
  text-transform: uppercase;
}

.container #developer{
  line-height:22px;
  font-size:9px;
  letter-spacing:1px;
}

#and_copy{
line-height:24px;
 display: none;
}

footer{
	margin-top:3%;
}

  #respo_contact{
    display:none;
    line-height:24px;
  }

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@media (max-width:721px)
{
.datay {
 flex-direction:column;
}
.datay div{
text-align:center;
margin-bottom: 0;
padding-bottom:0;
height:100px;
 }
 .datay div p{
padding:0;
line-height:1.8rem;
   }

 .datay div .linex{
  left:60%;
  transform: translate(-60%);
  position:relative;
  margin:0;
   }

   .datay div #lx{
    width:65px;
   
     }

   .datay div #ly{
    width:42px;
    margin-left:-3px;
     }

     .datay div #lz{
      width:43px;
      margin-left:-3px;
       }

       
     .datay div #la{
      width:38px;
      margin-left:-7px;
       }

.container #developerx{
  display:none;
}


#and_copy{
  display: block;
}

.datad .x{
  font-size:19px;
}

#cont{
  display: none;
}

#respo_contact{
  display: block;
}

.container #github
{
display:none;
}

.container #developer{
  line-height:12px;
  font-size:9px;
  letter-spacing:1px;
}

}