/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/   
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
	outline:none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
	word-wrap: break-word;
	}

	html,body{
		height:100%;
	}


	body{
	background: rgb(250, 250, 250);	
	}			

/*================  Page Preloader  =================*/ 

	#loader{
		width:100%;
		height:100vh;
		background:rgb(252,252,252) 
		url('loaderx.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size:4rem;
		position: fixed;
		z-index:555;
	} 
	
	.wrapper{
	width:100%;
	height:100%;
	position:absolute;
	}
	
	.wrapper .banner{
	width:100%;
	height:98%;
	background:linear-gradient(rgba(256,256,256,0.05),rgba(256,256,256,0.05)), 
	url(peoplexp.jpg) 100% 100% no-repeat;
	background-size:cover;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	background-attachment:fixed;
	
	}


	.banner .textx{
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		position:absolute;
		width:100%;
		text-align:center;
	
	}

	
	.dynamic-text
	{
		font-weight:bold;
		font-size:48px;
		color:rgba(256,256,256,1);
		letter-spacing:1px;
		padding-bottom:20px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	.text{
		color:rgba(256,0,0,0.9);
		font-weight:bold;
		font-size:52px;
		text-align:center;
		letter-spacing:2px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	
	
	 .textx .msg{
		text-transform:uppercase;
		color:rgba(256,256,256,1);
		font-size:45px;
		font-weight:bold;
		padding-bottom:30px;
		letter-spacing:2px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	
/*================  Join Now Button  =================*/ 

	.join{
		text-transform:uppercase;
		color:rgba(255,255,255,1);
		background:transparent;
		padding:6.5px 70px;
		border:2px solid rgba(255,255,255,1);
		border-radius:22px;
		font-size:16.5px;
		font-weight:bold;
		letter-spacing:1.6px;
		box-sizing:border-box;
		cursor:pointer;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	
	.join:hover{
		background:rgba(253, 38, 0, 0.986);
		transition: 0.1s;
	}
	
/*================  Banner Social Icons  =================*/ 

	.banner .textx .social{
		margin-top:2%;	
	}
	.banner .textx .social a{
		text-decoration: none;
	}
	.banner .textx .social a img{
		box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
		cursor: pointer;
		width:40px;
		height:40px;
		border-radius: 50%;
	    border: 2px solid rgba(250,250,250,0.8);
	}
	.banner .textx .social a img:hover{
		border: 2px solid rgba(256,256,256,1);
		transition:0.3s;
	}
	
	/*================  Scroll Down Mouse Indicator  =================*/ 
	.center{
		top:95%;
		left:50%;
		transform:translate(-50%,-95%);
		position:absolute;
	}
	.down{
		position:relative;
		width:32px;
		height:60px;
		border-radius:25px;
		background:transparent;
		border:2px solid rgba(255,255,255,0.7);
		overflow:hidden;
	}
	
	.down:before{
		content:'';
		position:absolute;
		width:6px;
		height:6px;
		border-radius:50%;
		background:#fff;
		left:50%;
		top:10px;
		transform:translate(-50%,0);
		animation:animate 1.2s linear infinite;
	}
	
	.down:after{
		content:'';
		position:absolute;
		width:5px;
		height:14px;
		border-radius:50%;
		background:rgba(255, 255, 255, 0.8);
		left:50%;
		top:5px;
		transform:translate(-50%,0);
		border-radius:3px;
	}
	
	@keyframes animate{
		0%{
			transform:translate(-50%,20px);
			opacity:0.8;
		}
		
		50%{
			transform:translate(-50%,60px);
			opacity:0.8;
		}
		
		100%{
			transform:translate(-50%,100px);
		}
	}
	
	#nnk{
		display:none;
		line-height:4px;
	}
	#dyno{
		display: none;
		line-height:3px;
	}

/*================  About Us Section  =================*/ 

	.about{
		margin: 0 auto;
		border-radius:5px;
		display:flex;
		flex-direction:row;
		width:77%;
		height: 280px;
		margin-bottom:7rem;
		margin-top:2rem;
	}
	.about .about-img{
		margin-right:4%;
		flex: 55%;
	}

	.about .about-text{
		font-weight: normal;
		height: auto;
		flex: 45%;
		align-self:center;
		padding:0.7rem 1rem 0 0;
		color:#050505;
		text-align:justify;
		font-size: 16px;
		}
	
	.about div p
	{ 
		letter-spacing:0.7px;
		line-height:30px;
		word-spacing:0.5px;
		font-family: 'Playfair Display', serif;
	}
	
	.about-ln{
		width:27%;
		height:4px;
		background:rgba(256,0,0,0.5);
		left:50%;
		transform:translate(-50%);
		position:relative;
		display:none;
	}

	.about-head
	{
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		color:rgba(120,120,120,1);
		display:none;
		font-size:26px;
	}
	

/*================  Fooetr Section  =================*/ 

footer{
	margin-top:3%;
}

/*================ Mobile Version explore tabs  =================*/ 

.mob-expo{
display:none;
height:160px;
overflow-x:scroll;
overflow-y: hidden;
white-space:nowrap;
}

.mob-expo::-webkit-scrollbar{
	display:none;
}

.mob-expo .appx_expo{
	margin-left:5px;
	height:155px;
	width:145px;
	background:white;
	display: inline-block;
    border-radius:12px;
    cursor: pointer;
	box-shadow:1px 1px 1px 1px rgba(220,220,220,1);
}


.mob-expo #appx_right{
	margin-left:11px;
	}

	.mob-expo #appx_left{
		margin-right:11px;
		}

.mob-expo .appx_expo img{
	margin-top:15px;
width:100px;
height:100px;
left:50%;
transform:translate(-50%);
position: relative;
}

.mob-expo .appx_expo p{
text-align:center;
margin-top:5px;
color:gray;
	}


 .more_btn{
			width:78%;
			margin:0 auto;
			margin-top:26px;
	}

	.more_btn button{
		width:11rem;
		padding:0.6rem 0 0.6rem 0;
		outline:none;
		border:none;
		background:#4CAF50;
		color:white;
		cursor:pointer;
		font-size:16px;
		left:50%;
		transform:translate(-50%);
		position:relative;
		letter-spacing: 0.1px;
		text-transform:capitalize;
	}
	  
	.nit-logos{
		margin-bottom:6rem;
	}


	

/*================ Mobile Version Responsive  =================*/ 

@media (max-width:991px)
{


/*================ Dynamic Text =================*/

	.dynamic-text
	{
		font-size:32px;
		text-align:center;
		padding-bottom:3px;
	}
	
	#dyno{
	display: block;
	}

.textx{
	padding-left:15px;
	padding-right:15px;
}


/*================ Text before Dynamic Text =================*/	
	.text
	{
		text-align:center;
		 font-size:36px;
	}	
/*================ Text below Dynamic Text =================*/	
	.textx .msg{
		font-size:34px;
		line-height:40px;
	}
/*================ Join Now button =================*/
.textx .join{
	padding:6px 43px;
	margin-top:0;
	}
/*================ Social media icon =================*/	
	.banner .textx .social{
 margin-top:5%;
	}
	/*================ Explore Section Tabs =================*/

	.explore
		{
			padding:0;
		}

	  .explore .expo{
		  width:100%;
		  margin:0;
	     flex-direction:column;
	  }


	 .explore .exc{
		 display:none;
	 }

	 /*================ Mobile versionExplore Section Tabs =================*/

.mob-expo{
	display:block;
}

	
	  .explore .expo .xnnn a .zoom{
		height:148px;
		}

	  .explore .expo .xnnn img{
	  height:100%;
	  }

	  .explore .expo .xnnn a img:hover{

		width:112%;
		height:112%;
	}

	  .explore .expo  .xnnn  a p{
		line-height:1.8rem;
		color:rgba(80,80,80,1);
	}


#nnk{
	display:block;
    }

	 /*================ About Section =================*/


	 #about-img{
		 display:none;
	 }

.about{
	flex-direction:column;
	margin-bottom:3rem;
	margin-top:2rem;
	width:82%;
}


.about .about-text{
margin:0;
padding:0;
}

.about .about-text p{
	line-height:30px;
}
.about-ln
{
	display:block; 
	background:rgba(37, 116, 169, 1);
}

.about-head
	{
		display:block;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color:rgba(37, 116, 169, 1);
		margin-top:2rem;
	}

	#ns-art{
		display: none;
	}

	#expo-line
	{
		width:3rem;
		display: none;
	}
/*=========== Hiding some part of about section  ==============*/
	#ab{
		display: none;
	}
	.nit-logos{
		margin-bottom:5rem;
	}

	.main-expo{
		margin-top:3rem;
		font-size: 26px;
	}

	.expo-line{
		width:5rem;
		margin-top:0;
		height:4px;
	   }

	.nt_img{
		display:none;
	  }


.explore .expo .xnnn{
	   width:80%;
	   margin-left:0.4rem;
		left:40%;
	    transform: translate(-40%);
	    position: relative;
}


}


/*speciallly for galaxy core prime*/

@media (min-width:480px) and (min-height:800px) 
{

.textx{
	padding:0;
	padding-left:15px;
	padding-right:15px;
}
	
	.dynamic-text
	{
		font-size:39px;
	}
	.text{
		font-size:45px;
	}	
	
	 .textx .msg{
		font-size:37px;
	}

.banner .join{
	padding:5px 60px;
}
.banner .textx .social a img{
	
	width:35px;
	height:35px;
}
	
	.center{
		display:none;
	}
}
