/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/   
*/
	
	*{
	outline:none;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
	word-wrap: break-word;
	}

	html,body{
		height:100%;
	}

	body{
		background: rgba(250,250,250,1);
	}			

/*================  Page Preloader  =================*/ 

	#loader{
		width:100%;
		height:100vh;
		background:#DfDfDf url('loader.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size:18rem;
		position: fixed;
		z-index:555;
	} 
	
	.wrapper{
	width:100%;
	height:100%;
	position:absolute;
	}
	
	.wrapper .banner{
	width:100%;
	height:98%;
	background:linear-gradient(rgba(256,256,256,0.05),rgba(256,256,256,0.05)), 
	url(peopleyc.jpg) 100% 100% no-repeat;
	background-size:cover;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	background-attachment:fixed;
	
	}
	
	.banner .textx{
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		position:absolute;
		width:100%;
		text-align:center;
	}
	
	.dynamic-text
	{
		font-weight:bold;
		font-size:40px;
		color:rgba(256,256,256,0.9);
		letter-spacing:1.5px;
		padding-bottom:20px;
	}
	.text{
		color:rgba(256,0,0,0.9);
		font-weight:bold;
		font-size:46px;
		text-align:center;
		letter-spacing:2px;
	}
	
	
	 .textx .msg{
		text-transform:uppercase;
		color:rgba(256,256,256,0.9);
		font-size:41px;
		font-weight:bold;
		padding-bottom:30px;
	}
	
/*================  Join Now Button  =================*/ 

	.join{
		text-transform:uppercase;
		color:rgba(255,255,255,0.8);
		background:transparent;
		padding:6.5px 70px;
		border:2px solid rgba(255,255,255,0.8);
		border-radius:22px;
		font-size:16.5px;
		font-weight:bold;
		letter-spacing:1.6px;
		box-sizing:border-box;
		cursor:pointer;
	}
	
	.join:hover{
		background:rgba(253, 38, 0, 0.986);
		color:rgba(255,255,255,0.8);
		transition: 0.1s;
	}
	
/*================  Banner Social Icons  =================*/ 

	.banner .textx .social{
		margin-top:2%;
		
	}
	.banner .textx .social a{
		text-decoration: none;
	}
	.banner .textx .social a img{
		box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
		cursor: pointer;
		width:40px;
		height:40px;
		border-radius: 50%;
	    border: 2px solid rgba(250,250,250,0.8);
	}
	.banner .textx .social a img:hover{
		border: 2px solid rgba(256,256,256,1);
		transition:0.3s;
	}
	
	/*================  Scroll Down Mouse Indecator  =================*/ 

	.center{
		top:95%;
		left:50%;
		transform:translate(-50%,-95%);
		position:absolute;
	}
	.down{
		position:relative;
		width:32px;
		height:60px;
		border-radius:25px;
		background:transparent;
		border:2px solid rgba(255,255,255,0.7);
		overflow:hidden;
	}
	
	.down:before{
		content:'';
		position:absolute;
		width:6px;
		height:6px;
		border-radius:50%;
		background:#fff;
		left:50%;
		top:10px;
		transform:translate(-50%,0);
		animation:animate 1.2s linear infinite;
	}
	
	.down:after{
		content:'';
		position:absolute;
		width:5px;
		height:14px;
		border-radius:50%;
		background:rgba(255,255,255,0.8);
		left:50%;
		top:5px;
		transform:translate(-50%,0);
		border-radius:3px;
	}
	
	@keyframes animate{
		0%{
			transform:translate(-50%,20px);
			opacity:0.8;
		}
		
		50%{
			transform:translate(-50%,60px);
			opacity:0.8;
		}
		
		100%{
			transform:translate(-50%,100px);
		}
	}
	

/*================  About Us Section  =================*/ 

	.about{
		border-radius:5px;
		display:flex;
		 flex-direction:row;
		  width:77%;
		left:50%;
		transform: translate(-50%);
		position: relative;
		height: 300px;
	/*	background:linear-gradient(45deg, rgba(245,245,245,1),rgba(256,256,256,1),rgba(245,245,245,1));*/
	}
	.about .about-img{
		margin-right:4%;
		flex: 55%;
		align-items: center;
		justify-content: center;
		display: flex;
		height: 300px;
	}
	.about .about-text{
		font-weight: normal;
		height: 300px;
		flex: 45%;
		align-self:center;
		padding:0.8rem 1rem 0 0;
		color:rgba(70,70,70,1);
		text-align:justify;
		font-size: 15px;
		}
	
	.about div  p
	{ 
		letter-spacing:0.7px;
		line-height:31px;
		word-spacing:0.5px;
	}
	
	
	
	@media (max-width:991px)
	{
		
		header{
		padding:0 20px;
		}
		
	/*For dynamic Texts*/
	.dynamic-text
		{
			
			font-size:25px;
			text-align:center;
			
		}
		
		.text
		{
			text-align:center;
			 font-size:25px;
		}	
		.textx .msg{
			font-size:32px;
		}
		.join{
		color:rgba(255,255,255,0.8);
		background:transparent;
		padding:6px 45px;
		border:2px solid rgba(255,255,255,0.8);
		border-radius:20px;
		font-size:15px;
		letter-spacing:1.4px;
		
	}
	
	}

/*================  Fooetr Section  =================*/ 

footer{
	margin-top:3%;
}



