
body{
    background: rgba(255, 250, 205,0.4);
    overflow: hidden;
    height:100vh;
    background-repeat: no-repeat;
}

.add-news{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    background:rgba(255,196,105,0.9);
}
.add-news form{
    display: flex;
    flex-direction:column;
    align-items:center;
     justify-content:center;
     width:55rem;
     padding:1rem;
     border:none;
     border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
}

.add-news form #heading, #submit{
    color:rgba(0,0,0,1);
   font-size:15px;
   width:52rem;
   height:2.2rem;
   padding-left:0.5rem;
   margin:1rem;
   border-radius:7px;
   opacity:0.7;
   border:none;
   box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
}
.add-news form #news{
    opacity:0.7;
    font-size:15px;
    color:rgba(0,0,0,1);
    border:none;
    width:52rem;
    resize:none;
    padding:0.5rem 0 0 0.5rem;
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
 }

 .add-news form  #image{
    margin:1rem;
    width:52rem;
    opacity:0.7;
    font-size:15px;
    color:rgba(80,80,80,1);
}

 #submit{
     cursor:pointer;
     height:2.4rem;
     font-size:15px;
     background:rgb(70, 185, 74);
     color:white;
     opacity:1;
 }


