*{
    margin:0;
    padding:0;
    font-family: sans-serif;  
    outline:none;
}

 
.left-menu{
    background: rgba(255, 250, 205,1);
   box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
transform-origin:left;
transform:scaleX(0);
bottom:0;
left:0;
position:fixed; 
z-index:2;
width:15rem; 
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.main .mainh{
    text-transform: uppercase;
    font-weight: bold;
    color:rgba(110,110,110,1);
    letter-spacing:0.5px;
    font-size:30px;
    text-align:center;
    margin-top:3rem;
}


.left-menu  p{
 top:4rem;
 position:absolute;
 text-transform: uppercase;
 font-weight: bold;
 color:rgba(110,110,110,1);
 letter-spacing:0.5px;
 font-size:25px;
}

.left-menu button{
    width:12rem;
    padding:0.5rem;
    margin:1.5rem;
    border-radius:15px;
    cursor:pointer;
    background:linear-gradient(90deg, rgb(66, 66, 230), rgb(236, 58, 58));
    color:rgba(230,230,230,1);
    border:none;
    font-size:13px;
    text-transform: uppercase;
}


.left-menu button:hover{
    transition:0.7s;
    background:linear-gradient(90deg, rgb(236, 58, 58), rgb(66, 66, 230));
}

#show{
    z-index:1;
    top:12px;
    left:27px;
    position:fixed;
    border-radius:50%;
    padding:0.5rem 0.72rem 0.5rem 0.72rem;
    font-size:22px;
    cursor:pointer;
    border:none;
    color:white;
    background:rgba(50,50,50,1);
    box-shadow:1px 1px 1px rgba(120,120,120,1);
}