*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  outline:none;
  box-sizing: border-box;
  }

  .progress-container{
    top:0;
    position:fixed;     
}

  body{
    background: rgb(240,240,240,1);
}

#loader{
  top:0;
  width:100%;
  height:100vh;
  background:rgb(252,252,252) 
  url('loaderx.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size:4rem;
  position: fixed;
  z-index:555;
} 

.wrapper{
  background:white;
  width:75%;
  margin:0 auto;
}

.wrapper .flash{
  display: flex;
  flex-direction:row;
  width:100%;
  height:370px;
  margin:0 auto;
  margin-top:7rem;
}

.flash .flash_slide{
width:50%;
height:100%;
padding:10px;
overflow: hidden;
}

.flash .flash_slide:nth-child(1){
  padding:10px 0 10px 10px;
  }

.flash_slide img{
  width:100%;
  height:100%;
}


.flash_slide .over{
width:100%;
height:100%;
background:black;
opacity:0.3;
top:0;
left:0;
bottom:0;
right:0;
position:sticky;
cursor:pointer;
 }

  .flash_slide .cnt{
   width:100%;
   height:auto;
    top:0;
  left:0;
  bottom:0;
  right:0;
   position:sticky;
  color:white;
   background:transparent;
   padding:0 10px 5px 10px;
   font-size:16px;
   line-height: 21px;
   cursor: pointer;
font-weight: bold;

}

 .flash_slide .cnt{
padding:15px;
 }


  .wrapper .explore{
    margin: 0 auto;
     width:95%;
     margin-top:3rem
  }
  
  .explore .expo{
      display:flex;
      flex-direction:row;
      justify-content: space-evenly;
  }
      
  .explore .expo .xnn a p{
    text-align:center;
    color:gray;
    padding: 0.5rem 0 0.5rem 0;
  }
  
  .explore .expo  .xnnn {
    width:14rem;
    height:12.5rem;
    margin-bottom:2.5rem;
    overflow: hidden;
  }

#ns-art{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display:none;
}
.line_more{
  margin:0 auto;
  height:4px;
  width:16rem;
  background:rgba(256,0,0,0.5);
  margin-bottom:4rem;
}

  .explore .expo  .xnnn a{
    text-decoration:none;
      height:auto;
      border-radius:0;
     box-shadow:none;
  }

  .explore .expo  .xnnn  p{
      padding:5px 5px 2px 5px;
      line-height:1.4rem;
      font-size: 15px;
      color:#050505;
      font-family:sans-serif;
  }
  
    .explore .expo  .xnnn p .heading
    {
      font-weight:bold;
      color:rgba(0,0,0,0.8);
      font-family:sans-serif;
    }
    .explore .expo  .xnnn a:hover  
    {
     color:rgba(256,0,0,0.8);
      }
  
     .explore .expo .xnnn a .zoom{
      width:100%;
      height:125px;
      margin:0;
      padding: 0;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
     }

  .explore .expo .xnnn img,video{
      outline: none;
     width:100%;
    height:125px;
      margin-top:0;
      cursor:pointer;
           transition: all 0.4s ease;
        }
  
        .explore .expo .xnnn img:hover{
            outline: none;
            width:115%;
            height:135px;
        }
  
        .explore .expo .xnnn video{
           height:130px;
        }
   .explore .expo .xnnn video:hover{
     height:135px;
     width:101%;
  }
  
  #show_more{
    display:none;
  }

  footer{
    margin-top:2rem;
  }

  /*================= Ad Side Bar =================*/

  .nad{  
      width:23%;
      top:8.5rem;
      right:0;
      position: absolute;
      height:auto;
      margin-right:1.5rem;
  }

  
.nad .nad-img{
    width:100%;
    height:400px;
    margin-bottom:10px;
}

@media (max-width:991px)
{

.wrapper{
width:100%;
background:transparent;
padding:0;
margin-top:4.2rem;
}

.wrapper .flash{
display: none;
}

  .explore{
 width:100%;
 padding:1.2rem;
} 

.explore .expo{
  width:100%;
    flex-direction:column;
    justify-content:space-evenly;
    margin:0;
}

.explore .expo .xnnn{
  margin:0 auto;
  width:100%;
  margin-bottom:3rem;
  height:15rem;
 }

.explore .expo .xnnn a .zoom{
  height:170px;
 }
.explore .expo .xnnn img,video{
height:100%;
    }

    .explore .expo .xnnn img:hover{
      outline: none;
      width:110%;
      height:165px;
  }

  .explore .expo  .xnnn p{
		line-height:1.8rem;
  }
  #show_more{
    display:block;
    line-height:0;
  }


  .nad{
    display:none;
}

footer{
  margin-top:2rem;
}


.main-expo{
  margin-top:-3rem;
  font-size:32px;
}

.line_more{
width:7rem;
margin-top:5px;
margin-bottom:2.5REM;
}

#ns-art{
  display:block;
  margin-top:-2.6rem;
}


}