*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  outline:none;
  box-sizing: border-box;
  }

  .progress-container{
    top:0;
    position:fixed;
}

  body{
    background: rgba(250,250,250,1);
}



.banner{
  width:100%;
  height:400px;
  background:
  url(cglx.jpg)
  100% 100% no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

.banner .overlay{
  width:100%;
  height:100%;
  opacity:0.4;
  background:black;
}

.banner .center{
  top: 30%;
  left:50%;
  transform: translate(-50%,-30%);
  position:absolute;
  width:100%;
  color:rgba(240,240,240,1);
  font-weight:bold;
  font-size:50px;
  text-transform: uppercase;
}

.banner .center p{
  text-align:center;
 
}

.banner .center .sub-center{
 font-size:31px;
}



#loader{
  width:100%;
  height:100vh;
  background:#DfDfDf url('loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size:18rem;
  position: fixed;
  z-index:555;
}

  
  .explore{
      width:75%;
      margin:2rem 0 2rem 0;
  }
  
  .explore .expo{
      display:flex;
      flex-direction:row;
      justify-content:space-evenly;
      margin:0 0.5rem 0 2rem;
  }
  
  
  .explore .expo  div{
  
      flex:1 1rem;
      height:auto;
      border-radius:12px;
      box-shadow:1px 1px 1px 1px rgba(220,220,220,1);
      margin:1.3rem;
      cursor: pointer;
  }
  
  .explore .expo div img{
   width:100px;
   height:100px;
   left:50%;
   transform: translate(-50%);
   position: relative;
   margin-top:1rem;
     }
  
  .explore .expo div p{
   text-align:center;
      color:gray;
      padding: 0.5rem 0 0.5rem 0;
  }
  
  .explore .expo  .xnnn{
      margin:0.6rem;
      height:auto;
      border-radius:0;
  box-shadow:none;
  }
  
  .explore .expo  .xnnn p{
      padding:5px 5px 2px 5px;
      color:rgba(70,70,70,1);
      text-align:justify;
      line-height:1.4rem;
      font-size: 15px;
  }
    
  
  .explore .expo  .xnnn p a
  {
   cursor: pointer;
  text-decoration: none;
  padding:5px;
  border-radius:2px;
  font-weight: bold;
  font-size:15px;
  }
  
  
    .explore .expo  .xnnn p .heading
    {
      font-weight:bold;
      color:rgba(60,60,60,1);
    }
    .explore .expo  .xnnn p a:hover
    {
     color:rgba(256,0,0,0.8);
      }
  
     .explore .expo .xnnn .zoom{
      width:100%;
      height:125px;
      margin:0;
      padding: 0;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
     }
  .explore .expo .xnnn img,video{
      outline: none;
     width:100%;
    height:125px;
      margin-top:0;
      cursor:pointer;
           transition: all 0.4s ease;
        }
  
        .explore .expo .xnnn img:hover{
            outline: none;
            width:110%;
            height:130px;
        }
  
        .explore .expo .xnnn video{
           height:130px;
        }
   .explore .expo .xnnn video:hover{
     height:135px;
     width:101%;
  }
  
 
  /*================= Ad Side Bar =================*/

  .nad{
      width:23%;
      top:27rem;
      right:0;
      position: absolute;
      height:auto;
  }

  
.nad .nad-img{
    width:100%;
    height:250px;
    margin-bottom:10px;
}

footer{
  margin-top:0;
  width:100%;
  bottom:0;
  position:-webkit-sticky;
}