/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/
*/

header{
	position:absolute; 
	top:0;
	left:0;
	padding:12px 60px 0 60px;
	width:100%;
	background-color:transparent;
	box-sizing:border-box;
	 z-index:3;
}

header .logo{
height:80px;
float:left;
text-align:center;
font-weight:bold;

}

header .logo img{
width:55px;
height:55px;
}

header .logo li{
list-style:none;
position:relative;
font-size:13px;
font-weight: bold;
}

header .logo ul li a{
text-decoration:none;
color:rgba(256,256,256,0.8);
}

header nav{
	float:right;
	padding-top:12px;
}

 .black{
	position:fixed;
	background:rgba(0,0,0,1);
	width:100%;
}

header nav ul{
	text-transform:uppercase;
	margin:0;
	padding:0;
	display:flex;
}

header nav ul li{
list-style:none;
position:relative;
padding-right:5px;
font-size:15px;
}

header nav  ul li ul{
	position:absolute;
	background:rgba(0,0,0,1);
	display:none;
	z-index:1.5;
}

.home /* active in case of home*/
{
background:rgba(0,0,0,0.4);		
border-bottom:1px solid rgba(256,0,0,0.9);
color:rgba(256,0,0,0.9);
}

.homex:hover{
background:rgba(0,0,0,0.4);		
border-bottom:1px solid rgba(256,0,0,0.9);
color:rgba(256,0,0,0.9);
}

header nav  ul li:hover ul{
	display:block;
	transition:0.5s;
}
/* for submenu */
/*=====================================================================================*/
header nav  ul li ul li{
	display:block;
	width:150px;
	font-weight:normal;
	text-align:center;
	font-size:15px;
}


.sub-menu:hover{
background:rgba(0,0,0,0.4);	
border-bottom:1px solid rgba(256,0,0,0.9);
color:rgba(256,0,0,0.9);
}



header nav  ul li ul li:hover{
	border-bottom:1px solid rgba(256,0,0,0.9);
}

header nav  ul li ul li a:hover
{
	color:rgba(256,0,0,0.9);
}

header nav ul li a{
	text-decoration:none;
	display:block;
	height:50px;
	line-height:50px;
	padding:0 18px;
	color:rgba(256,256,256,0.8);
	font-weight:bold;
	letter-spacing:0.8px;
}

header nav ul li button{
	font-size:15.22px;
	text-decoration:none;
	display:block;
	height:50px;
	line-height:50px;
	padding:0 20px;
	color:rgba(256,256,256,0.8);
	font-weight:bold;
	letter-spacing:2px;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
}

header nav ul li button:hover{
	color:rgba(256,0,0,0.9);
	background:rgba(0,0,0,0.4);	
	border-bottom:1px solid rgba(256,0,0,1);
}

.menu-toggle{
	float:right;
	line-height:50px;
	color:white;
	cursor:pointer;
	display:none;
}


.cut_nav{
height:38px;
width:38px;
right:25px;
top:18px;
position:absolute;
z-index:1;
display: none;
}


/*Media queries*/
@media (max-width:991px)
{
	header{
	padding:0 20px;
	}
	
	.menu-toggle{
		display:block;
		margin-top:15px;
		margin-right:16px;
		font-size:25px;
		}
	

	header nav
	{
		z-index:-1;
		overflow: hidden;
		position:fixed;
		width:70%;
		height:100vh;
		background:rgba(0,0,0,1);	
		left:-100%;
		transform-origin:left;
		transform: scaleX(0);
	}
		
		header nav.active{ /*on removing this button is not working*/
			left:0;
		}

		header nav ul{
			margin:0 auto;
			margin-top:6.6rem;
			display:flex;
			flex-direction:column;
			text-align:center;
		}
	
			
		header .logo{
		height:80px;
		padding:15px 0 10px 0;
		font-size:11px;
		margin-bottom:7px;
		}

		.home{
			border:none;
			color:rgba(210,210,210,1,1);
		}

header .logo img{
width:47px;
height:47px;
}

header nav  ul li{
	border:none;
font-size:13px;
}	
	
header nav  ul li ul{
	width:100%;
	left:4%;
	margin-top:-0.5rem;
}

header nav  ul li ul li{
font-size:13px;
width:100%;
}
#user{
	margin-top:-0.38rem;
	width:100%;
	left:26.5%;
	position: relative;
}
	
header nav  ul li ul li:hover{
border:none;
}

.homex:hover{
border:none;
color:red;	
}

#searching{
	display:none;
}
#exam{
	display:none;
}


}



