
   .counter{
     margin:0 auto;
     width:80%;
     height:10rem;
     display:flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     cursor:pointer;
     margin-bottom:5rem;
   }

   .counter .counter-1,  .counter .counter-2,  .counter .counter-3
   {
      height:100%;
      width:10rem;
      background:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    border-radius:5px;
    box-shadow:0 1px 3px rgba(0,0,0,0.3);
   }


   .counter .counter-1:hover,  .counter .counter-2:hover,  .counter .counter-3:hover
   {
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
   }


   .counter .counter-1 .counter_img, .counter .counter-2 .counter_img,  .counter .counter-3 .counter_img
   {
      height:34%;
      width:100%;
      padding:5px;
      background: #FFD700;
      display: flex;
      align-items: center;
      justify-content: center;
   }


   .counter .counter-1 .counter_img img, .counter .counter-2 .counter_img img,  .counter .counter-3 .counter_img img
   {
      height: 100%;
   }

   .counter .counter-1 .counter_title, .counter .counter-2 .counter_title,  .counter .counter-3 .counter_title
   {
     height:40%;
     width:100%;
     display: flex;
    justify-content: center;
   background:#FFD700;
   background:orange;
   -webkit-clip-path: polygon(100% 0, 100% 79%, 61% 80%, 50% 100%, 39% 80%, 0 79%, 0 0);
   clip-path: polygon(100% 0, 100% 79%, 61% 80%, 50% 100%, 39% 80%, 0 79%, 0 0);
   padding-top:11px;
   }

   .counter .counter-1 .counter_title span,
    .counter .counter-2 .counter_title span,
     .counter .counter-3 .counter_title span
   {
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size:20px;
   }


   .counter .counter-1 .countx,  .counter .counter-2 .countx,  .counter .counter-3 .countx
   {
      height:33%;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .counter .counter-1 .countx span:nth-child(1),
     .counter .counter-2 .countx span:nth-child(1),
       .counter .counter-3 .countx span:nth-child(1)
   {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight:bold;
      font-size:30px;
      text-align: center;
      color:rgba(0,0,0,0.8);
   }

   .counter .counter-1 .countx span:nth-child(2),
     .counter .counter-2 .countx span:nth-child(2),
       .counter .counter-3 .countx span:nth-child(2)
   {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight:bold;
      font-size:18px;
      text-align: center;
      color:rgba(0,0,0,0.8);
   }

   @media (max-width:921px)
   {
     .counter{
      flex-direction: column;
      height:35rem;
     }

.counter .counter-2,  .counter .counter-3
   {
   margin-top: 1.7rem;
   }
   }