/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/   
*/


	
*{
	outline:none;   
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
	word-wrap: break-word;
	}

	html,body{
		height:100%;
	}


	body{
	background: rgba(250,250,250,1);	
	}			

.wrap_me{
    position: relative;
}

/*================  Page Preloader  =================*/ 

	#loader{
		width:100%;
		height:100vh;
		background:rgb(252,252,252) 
		url('loaderx.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size:4rem;
		position: fixed;
		z-index:555;
	} 
	
	.wrapper
	{
	width:100%;
	height:100%;
	position:absolute;
    }
    
    footer{
		margin-top:40rem;
    }
    