*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    outline:none;
    box-sizing: border-box;
}   

.progress-container{
    top:0;
    position:fixed;
}

body{
    background: rgba(250,250,250,1);
}



#loader{
    width:100%;
    height:100vh;
    background:rgb(252,252,252)  url('loaderx.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:4rem;
    position: fixed;
    z-index:555;
}


.banner{
    width:100%;
    height:500px;
   background:url(test.jpg);
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
   clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
   background-attachment: fixed;
   background-position: fixed;
}

.banner .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.banner .center{
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
    position:absolute;
    width:100%;
    color:rgba(240,240,240,1);
    font-weight:bold;
    font-size:50px;
    text-transform: uppercase;
}

.banner .center p{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



body  .clg{
    margin-top:2.5rem;
   width:80%;
   padding:1rem 0 1rem 0;
   left:40%;
   transform:translate(-40%);
   position:relative;
   }

.clg .wlc-content{
    margin-bottom:1.5rem;
    line-height:2rem;
    letter-spacing: 0.7px;
    color:rgba(80,80,80,1);
    text-align: justify;
}

.banner .center .sub-center{
   font-size:31px;
}

th,td{
    padding:15px 2px 15px 2px;
    text-align:center;
}

 .clg table{
     width:100%;

}

tr{
    border-bottom:1px solid rgba(200,200,200,1);
}

.clg table,th,td{
    text-transform: capitalize;
    background: rgba(250,250,250,1);
    border-collapse: collapse;
    color:rgba(90,90,90,1);
}

footer{
    margin-top:0;
    width:100%;
    bottom:0;
    position:-webkit-sticky;
}

.linkx{
    padding-left:1.7rem;
    margin-top:3rem;
}
.linkx .links{
    margin:2rem 0 0.2rem 0;
    text-transform: uppercase;
    font-weight: bold;
}


.linkx .line{
    background:red;
    width:90px;
    height:3px;
    margin-bottom:5px;
}

.linkx a{
    text-decoration:none;
    line-height:2rem;
    color:rgba(80,80,80,1);
    font-size:17px;
    letter-spacing: 0.5px;
}

.linkx a:hover{
    transition:0.2s;
color:blue;
text-decoration:underline;
}

.ad{
    margin-top:2rem; 
    width:50rem;
    height:210px;
    position:relative;
}

#rank_yr{
    font-size:50px;
    color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*=============================Responsive design======================*/
@media (max-width:991px)
{
   
    

}