@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    outline:none;
    box-sizing: border-box;
}   

.progress-container{
    top:0;
    position:fixed;
}

body{
    background: rgb(240,240,240,1);	
}



#loader{
    top:0;
    width:100%;
   height:100vh;
   background:#DfDfDf url('loaderx.gif');
   background-repeat: no-repeat;
   background-position: center;
   background-size:4rem;
   position: fixed;
   z-index:555;
}


.center{
    width:100%;
    font-weight:bold;
    font-size:50px;
    text-transform: uppercase;
    color:rgba(37, 116, 169, 1);
    padding-top:2rem;
}

 .center p{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rank_yr{
    font-size:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper{
    background:white;
    width:75%;
    margin:0 auto;
    margin-top:7rem;
  }

body  .clg{
    margin: 0 auto;   
    margin-top:2.5rem;
   width:85%;
   }   

.clg .wlc-content{
    line-height:2.4rem;
    letter-spacing: 0.7px;
    color:#050505;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-size:16px;
}

 .center .sub-center{
   font-size:31px;
}

.line_rnk{
    margin:0 auto;
    margin-top:5px;
    height:5px;
    width:25rem;
    background:rgba(37, 116, 169, 1);
}

th,td{
    padding:15px 2px 15px 2px;
    text-align:center;
}

 .clg table{
     margin: 0 auto;
     width:95%;
}

tr{
    border-bottom:1px solid rgba(200,200,200,1);
}

tbody td{
    font-size:15px;
    color:#050505;
    font-family: 'Playfair Display', serif;
}

.clg table,th,td{
    text-transform: capitalize;
    border-collapse: collapse;
    color:rgba(90,90,90,1);
}

.clg .search_clg {
 margin:3rem 0 3rem 0;
}

.clg .search_clg p{
    font-size:18px;
    font-weight:bold;
    margin:1rem 0 1rem 0;
    color:rgba(37, 116, 169, 1);
    font-family: 'Playfair Display', serif;
}

.clg .search_clg #search{
    width:17rem;
    padding:0.5rem;
    font-size:15px;
    border-radius:7px;
    border:1px solid rgba(180,180,180,1);
    outline:none;
    letter-spacing: 0.2px;
    font-family: 'Playfair Display', serif;
}



.linkx{
    padding-left:1.7rem;
    margin-top:3rem;
    padding-bottom:1.5rem;
}
.linkx .links{
    font-weight: bold;
    color:rgba(37, 116, 169, 1);
    font-family: 'Playfair Display', serif;
    font-size:16px;
    letter-spacing: 0.4px;
}


.linkx .line{
    background:rgba(37, 116, 169, 1);
    width:5rem;
    height:2px;
    margin-bottom:5px;
}

.linkx a{
    text-decoration:none;
    line-height:2rem;
    font-size:15px;
    letter-spacing: 0.2px;
    color:#050505;
    font-family: 'Playfair Display', serif;
}

.linkx a:hover{
    transition:0.2s;
color:blue;
text-decoration:underline;
}

.ad{
    margin-top:2rem; 
    width:50rem;
    height:210px;
    position:relative;
}

.center .break{
    display:none;
}

.center .sub-center .brk{
    display:none;
}


/*=============================Responsive design======================*/
@media (max-width:991px)
{
    body{
        overflow-x: hidden;
    }



.center{
    margin-top:7rem;
}

    .center .break{
        display:block;
        margin-top:-2.8rem;
    }

    .center .sub-center{
        margin-bottom: 0;
    }

    .center .sub-center .brk{
        display:block;
        margin-top:-1.6rem;
    }

  .center p, #rank_yr{
font-size:32px;
  } 
    
  .center .sub-center{
      font-size:24px;
  }

.center .line_rnk{
    width:8rem;
}


body .clg{
  width:80%;
}

.clg .wlc-content{
    font-size:15px;
    line-height:1.8rem;
}

.clg .search_clg {
    margin:2.1rem 0 1.2rem 0;
   }

.clg .search_clg #search{
  margin: 0 auto;
width:17rem;
}

table{
    margin-top:0;
    line-height:21px;
    letter-spacing: 0.1px;
    font-size:14px;
}

table tbody td{
    padding:12px 2px 12px 2px;
}

.linkx{
    padding:0;
  margin: 0 auto;
  width:100%;
  text-align:center;
  margin-top:5rem;
  margin-bottom:5rem;
}

.linkx .links{
    text-align:center;
}

 .line{
  margin: 0 auto;  
}




}