/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/   
*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
	
*{
	outline:none;
	margin:0;
	padding:0;
	box-sizing:border-box;     
	font-family:sans-serif;
	word-wrap: break-word;
	}

	html,body{
		height:100%;
	}


	body{
        background: rgb(240,240,240,1);	
        background:#222233;
	}			

    .progress-container{
        top:0;
        position:fixed;
    } 

/*================  Page Preloader  =================*/ 

	#loader{
		width:100%;
		height:100vh;
		background:rgb(252,252,252) 
		url('loaderx.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size:4rem;
		position: fixed;
		z-index:555;
	} 
	
.wrapper{
    width:75%;
    margin:0 auto;
    padding:25px;
}


.wrapper  .banner{
    width:100%;
    height:540px;
    overflow: hidden;
}

.wrapper  .banner img{
    width:100%;
    height:100%;
}

.wrapper  .banner .str{
color:white;
position:sticky;
bottom:0;
left:0;
right:0;
top:0;
width:100%;
padding:0.5rem;
text-align:center;
font-weight: bold;
font-size:62px;
font-family: 'Playfair Display', serif;
}


.main .number{
    text-align:center;
    margin:0 auto;
    font-size:60px;
    font-weight: bold;
    color: white;
    border-radius:50%;
    background:red;
    width:110px;
    height:110px;
    border: 10px double;
}

.main .number p{
left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    position:relative;
}

.main{
    margin: 0 auto;
    width:100%;
    margin-top:7rem;
}

.child_x{
    overflow: hidden;
    width:100%;
    height:auto;
    box-shadow:0 0 2px 2px rgab(90,90,90,1);
    text-align: justify;
    margin-top:2rem;
    margin-bottom:3rem;
}


.hero .himg {
border-radius:2px;
float:right;
cursor:pointer;
box-shadow: 0 0 8px 2px rgba(210,210,210,1);
overflow: hidden;
}



.hero p{
    line-height:30px;
    letter-spacing: 0.3px;
    font-size:17px;
    color:#AACCFF;
    font-family: 'Playfair Display', serif;
}


.child_x:nth-child(odd) .hero .himg{
    float:left;
   margin:0 27px 3px 0;
   height:350px;
   background:rgba(255,196,105,1);
    }
    

    .child_x:nth-child(even) .hero .himg{
        float:right;
       margin:0 0 0 20px;
        }
        

.hero .himg div{
    width:220px;
    padding:5px;
}

.hero .himg div p
{   
    line-height:18px;
    letter-spacing:0;
    color:rgba(40,40,40,1);
}

.hero .himg div:nth-child(1)
{   height:250px;
    background:rgba(255,196,105,1);
}

.hero  div:nth-child(1) img{
    width:100%;
    height:100%;
    border-radius:2px;
    }

    
.hero .himg div:nth-child(2)
{
text-align:center;
  font-weight:bold;
  background:rgba(255,196,105,1);
  margin-top:0;
  font-family: 'Lato', sans-serif;
}


.hero button
{
    padding:0.5rem;
    width:11rem;
    cursor:pointer;
    box-shadow: 0 0 7px 2px rgba(210,210,210,1);
    margin: 20px 0 12px 0;
    left:50%;
    transform: translate(-50%);
    position: relative;
    font-size:15px;
}

#showmex, #showmey, #showmez, #showmek{
    display:none;
}

.hero .himg div:nth-child(2) p
{
    font-family: 'Lato', sans-serif;
    line-height:20px;
    font-weight: bold;
    word-spacing:2px;
    letter-spacing: 0.4px;
}

.hero .himg div:nth-child(2) p:nth-child(1)
{
   font-size:16px;
   
}

.hero .himg div:nth-child(2) p:nth-child(2)
{
   font-size:14px;

}


.hero .himg div:nth-child(2) p:nth-child(3)
{
   font-size:13px;

}


.hero .himg div:nth-child(2) p:nth-child(4)
{
   font-size:12px;

}


.next{
    font-size:19px;
    font-family: 'Playfair Display', serif;
    color:#aaccff;
    letter-spacing: 0.5px;
    text-align:left;
    line-height:32px;
}


.next a{
text-decoration: none;
color:blue;
}

.next a:hover{
    text-decoration:underline;
    color:red;
    }

.next_btn{
    border:2px solid white;
}


    .next_btn a{
        text-decoration: none;
   color:white;
        }

        .next_btn a:hover{
            text-decoration: none;
            color:white;
            }
    